body
{
    background-color: greenyellow;
}

h1
{
    font-family: monospace;
    color: rgb(38, 0, 255);
    background-color: cornsilk;
}

#show_sketch
{
    float: right;
}

#score
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

#timer
{
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    float: right;
}

p
{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

#sketch_to_be_drawn
{
    color: red;
}
